/******
 * Seletor de filho */
 /** li>a{
 	color: seagreen;
 	text-decoration: none;
 }

 /*****
  Seletor de descendente */
 /** p a{
  	color: seagreen;
  }

  /*****
   Seletor de irmão adjacente

   Seleciona o primeiro elemento <p>
   depois de qualquer elemento <h1>
   (mas não outros elementos <p>)****/

  /** h1+p{
   	color: purple;
   }

   /*****
    Seletor de irmão geral

    Se houvesse dois elementps <p> que
    fossem irmãos de um elemento <h2>
    essa regra se aplicaria aos dois. **/

    /** h2~p{
    	color: hotpink;
    }


    /******* AULA DE HERANÇA E ESPECIFICIDADE *****/
     /** p{
        color: blue !important; 
     }

     /** p{
        color: darkred;
     }
     /** o último sempre vai ser priorizado, ao menos que tenha o !important**/

      /** * { /*{4}*/
        /** color: mediumvioletred; /**
      } /**

      /**h2 { /* {3}*/
        /**color: skyblue;
      }

      /**h2.verde{    /*{2}     /*** mais específico **/
      /**  color: seagreen;
      }/**

      /** h2#roxo{   /*{1}*/
      /**  color: rebeccapurple;
      }/**

      /**************** AULA DE NAVEGAÇÃO VERTICAL *************/
       ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
            }



       ul a {
        list-style-type: none; /** tirar a bolinha da lista **/
        width: 200px;
        height: 40px;
        display: block;
        color: #000;
        text-decoration: none;
        text-indent: 40px;
        line-height: 40px;
        background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
       }

       a:hover {
        background-position: right bottom;
        background-color: #f99200;
        color: #fff;
       }

       #home #navegacao .home a,
       #sobre #navegacao .sobre a,
       #servicos #navegacao .servicos a {
        background-position: right bottom;
        background-color: #f99200;
        color: #fff;
       }

    