/******
 * Seletor de filho */
 /** li>a{
 	color: seagreen;
 	text-decoration: none;
 }

 /*****
  Seletor de descendente */
 /** p a{
  	color: seagreen;
  }

  /*****
   Seletor de irmão adjacente

   Seleciona o primeiro elemento <p>
   depois de qualquer elemento <h1>
   (mas não outros elementos <p>)****/

  /** h1+p{
   	color: purple;
   }

   /*****
    Seletor de irmão geral

    Se houvesse dois elementps <p> que
    fossem irmãos de um elemento <h2>
    essa regra se aplicaria aos dois. **/

    /** h2~p{
    	color: hotpink;
    }


    /******* AULA DE HERANÇA E ESPECIFICIDADE *****/
     /** p{
        color: blue !important; 
     }

     /** p{
        color: darkred;
     }
     /** o último sempre vai ser priorizado, ao menos que tenha o !important**/

      /** * { /*{4}*/
        /** color: mediumvioletred; /**
      } /**

      /**h2 { /* {3}*/
        /**color: skyblue;
      }

      /**h2.verde{    /*{2}     /*** mais específico **/
      /**  color: seagreen;
      }/**

      /** h2#roxo{   /*{1}*/
      /**  color: rebeccapurple;
      }/**

      /**************** AULA DE NAVEGAÇÃO VERTICAL *************/
      /** ul{ /**
                margin: 0;
                padding: 0;
                list-style-type: none;
            }



       ul a {
        list-style-type: none; /** tirar a bolinha da lista **/
       /* width: 200px;
        height: 40px;
        display: block;
        color: #000;
        text-decoration: none;
        text-indent: 40px;
        line-height: 40px;
        background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
       }

       /** a:hover {
        background-position: right bottom;
        background-color: #f99200;
        color: #fff;
       }

       #home #navegacao .home a,
       #sobre #navegacao .sobre a,
       #servicos #navegacao .servicos a,
       #noticias #navegacao .noticias a,
       #contato #navegacao .contato a {
        background-position: right bottom;
        background-color: #f99200;
        color: #fff;
       } **/ 

    
    /********** AULA DE BARRA DE NAVEGAÇÃO HORIZONTAL */

    /*ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 720px;
        background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
        float: left;
    }

    ul li {
        float: left;
    }

    ul a{
        display: block;
        padding: 0 2em;
        line-height: 2em;
        text-decoration: none;
        color: #fff;
        background: url(../imagens/divisor.png) repeat-y left top;
    }

    ul .primeiro a{
    }
        background: none;

    ul a:hover{
        color: #085662;
        background: #44cade;
    }

      #home #navegacao .home a,
        #sobre #navegacao .sobre a,
       #servicos #navegacao .servicos a,
       #noticias #navegacao .noticias a,
       #contato #navegacao .contato a {
        color: #085662;
        background: #44cade;
       } */


       /*************** AULA DE LAYOUT ***/

       body {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        background: #f2f2f2;
       }

       #container{
        width: 720px;
        margin: 0 auto;
        background: #fff;
       }

       #marca{
        height: 100px;
        background: #9e9e9e;
        text-align: center;
        line-height: 100px;
       }

       #conteudo{
        width: 520px;
        float: right;
       }

       #conteudo-principal{
        width: 320px;
        float: left;
       }

       #conteudo-secundario{
        width: 180px;
        float: right;
        background: #d1d1d1;
       }

       #conteudo-secundario h1,
       #conteudo-secundario h2,
       #conteudo-secundario h3,
       #conteudo-secundario p {
        padding-left: 20px;
        padding-right: 20px;
       }

       #navegacao{
        width: 180px;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #d1d1d1;
       }

       #navegacao ul {
        list-style: none;
       }

       #navegacao li a {
        text-decoration: none;
       }


       #rodape{
        clear: both;
        background: #c4c4c4;
        padding: 5px;
       }